/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e7e7e7;
  color: #a4a4a4;
}

/* Header Section */
.header {
  text-align: center;
  padding: 50px 20px;
  background-color: #fcfcfc;
}

.header h1 {
  font-size: 36px;
  margin: 0;
}

.header p {
  font-size: 18px;
  margin: 10px 0 20px 0;
}

.cta-button {
  background-color: #383838;
  color: #FFFFFF;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #505050;
}

/* Services Section */
.services-section {
  padding: 40px 20px;
  text-align: center;
  background-color: #181818;
}

.services-section h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-item {
  margin: 10px;
  width: 300px;
  background-color: #202020;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.service-item img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Portfolio Section */
.portfolio-section {
  padding: 40px 20px;
  text-align: center;
  background-color: #ffffff;
}

.portfolio-section h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-item {
  margin: 10px;
  width: 250px;
  background-color: #202020;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.portfolio-item img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Footer */
.footer {
  text-align: center;
  padding: 20px;
  background-color: #202020;
}