/* Navigation Bar */
/*.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dedede;
    padding: 15px 20px;
}
*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid  rgba(255, 255, 255, 0.136);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

/* Logo Placeholder */
.logo img {
    width: 120px; /* Adjust logo size */
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #383838;
    border-radius: 5px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}